<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="nevgation.dao.face.MapDao">
  
  <select id="selectAllStation" resultType="nevgation.dto.EVstation_info">
  SELECT * FROM EVSTATION_INFO
  ORDER BY STATION_NO
  </select>
  
  <select id="selectAllStationCnt" resultType="int">
  SELECT count(*) FROM EVSTATION_INFO
  </select>
  
  <select id="selectStationByStationName" parameterType="String" resultType="nevgation.dto.EVstation_info">
  SELECT * FROM EVSTATION_INFO
  WHERE station_name LIKE #{stationName}
  ORDER BY STATION_NO
  </select>
  
  </mapper>